@import './base.scss';

.box{
    width: 80%;
    padding: 10px;
    border: 1px solid #000;
    margin: 50px 0 0 5px;
    h1 {
    color: red;
    }
    h1, p{
        font-size: 30px;
    } 
    .text{
        font-weight: bold;
        .red{
            color: blue;
            &:hover{
                color: yellow;
            }
        }
        font-size: 20px;
    }
    &:hover{
        cursor: pointer;
        box-shadow: 0 0 20px 0 black;
    }
    }

.g{
    width: 130px;
    height: 70px;
    background-color:white;
    margin: 20px 0 0 5px;
}
.news-title{
    font-family: monospace;
    font-weight: normal;
    font-size: 20px;
    font-size:20px;
    font-weight: bold;
    .green{
        color: black;
        &:hover{
            color: aqua;
        }
    }
}
ol{
    position: absolute;
    width: 15%;
    padding: 10px;
    background-color: white;
    margin: -80px 0 0 150px;
    font-size: 20px;
    font-weight: bold;
    }
    li{
        .blue{
             color: black;
            &:hover{
                color: lightseagreen;
            }
}
}
 .image img{
    width: 200px;
    height: 250px;
    margin: -80px 0 0 370px;
 }
 .image1 img{
    width: 250px;
    height: 250px;
    margin: -271px 0 0 600px;
 }